#navbar {
    display: flex;
    flex-direction: column;
    height: 18vw;
    align-items: center;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

#navbar ul li a {
    font-size: 1.1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
    text-decoration: none;
}

@media (max-width: 600px) {
    #navbar {
        height: auto;
        padding: 10px 0;
    }

    #navbar ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #navbar ul li a {
        font-size: 0.9rem;
        padding: 5px 10px;
        padding-bottom: 5px;
    }
} */

#Home {
    height: 500px;
    padding: 3px 68px;
    background-image: url(https://cdn.pixabay.com/photo/2017/02/15/10/38/background-2068215_1280.jpg);
}
#Home p {
    font-size: 13px;
}
.primary-h {
    font-size: 26px;
}
.btn {
    font-size: 13px;
    padding: 4px 8px;
}